* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;

}

button {
    border: 2px solid transparent;
    cursor: pointer;
    transition: .4s;
}

body {
    font-family: 'Poppins', sans-serif;
}

#header{
    position: sticky;
    z-index: 100;
    top: 0;
    backdrop-filter: blur(5px);
    padding: 25px 0;
    -webkit-box-shadow: 0 9px 10px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 9px 10px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0 9px 10px 3px rgba(34, 60, 80, 0.2);
}

.header-logo h1 {
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
    padding-left: 16px;
}

.header-logo{
    display: flex;
    align-items: center;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav a {

    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding: 0 25px;
    transition: .4s;

}

.header-nav a:hover {
    color: blue;
    text-decoration-line: underline;

}

.header-btn-one{
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    border: 2px solid #BCD0E5;
    border-radius: 4px;
    padding: 15px 25px;
    background: transparent;
}

.header-btn-one:hover{
    background: #02897A;
    border: 2px solid #02897A;
    color: white;
}
.header-btn-two {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    padding: 15px 25px;
    margin: 0 24px;

}

.header-btn-two:hover {
    border: 2px solid #BCD0E5;
    background: transparent;
    color: #173A56;


}

.header-btn-three {
    font-size: 25px;
    display: flex;
    align-items: center;
    background: transparent;
    color: #02897A;
    rotate: 180deg;

}
.header-nav{
    display: flex;
    align-items: center;
}

#hero {
    padding: 60px 0;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-text h1{
    width: 400px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
}

.hero-text p{
    margin: 18px 0 48px 0 ;
    width: 458px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;

}
.hero-btn button{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    padding: 15px 30px;
    margin-right: 30px;
}

.hero-btn a{
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #02897A;
    display: flex;
    align-items: center;

}

.hero-btn a ion-icon{
    font-size: 25px;
    padding: 8px;
}

.hero-btn{
    display: flex;

}

#product{
    padding: 40px 0;
    background: url("../img/shadow.png") no-repeat center/cover;
    height: 80vh;

}

.product h1{
    width: 539px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
    margin: 0 auto;

}
.product-block h3 {
    font-weight: 600;
    font-size: 22px;
    color: #22343D;
    padding: 30px 0 13px 0;
}

.product-block p{
    width: 240px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;

}

.product button{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 15px 28px;
    background: #02897A;
    border-radius: 4px;

}

.product-btn{
    display: flex;
    justify-content: center;

}

.block-cursor{
    width: 50px;
    height: 50px;
    background: #02897A;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-general{
    padding: 66px 0 60px 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.block-cursor-two{
    width: 50px;
    height: 50px;
    background: #4D8DFF;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-cursor-three{
    width: 50px;
    height: 50px;
    background: #740A76;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.block-cursor-four{
    width: 50px;
    height: 50px;
    background: #F03E3D;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#management{
    padding: 150px;
}

.management-text h3{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;

}

.management-text h1{
    font-weight: 700;
    font-size: 32px;
    color: #22343D;

}

.management-text p{
    padding: 12px 0 22px 0;
    width: 468PX;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.management-text h5{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.management{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#support {
    padding: 60px 0;

}

.support {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.support-text h4{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;

}

.support-text h1{
    padding: 8px 0 18px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}

.support-text p{
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    padding: 15px 0;
}

.support-block-one{
    width: 35px;
    height: 35px;
    background: #FF9900;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.support-text-block ion-icon {
    color: white;
    font-size: 25px;
}

.support-block-two {
    width: 35px;
    height: 35px;
    background: #F03E3D;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.support-block-three {
    width: 35px;
    height: 35px;
    background: #4D8DFF;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.support-text-block{
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.support-text-block p {
    width: 365px;
}

.about-text h4{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}
.about-text h1{
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
    padding: 8px 0 23px 0;

}

.about-text p{
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;

}

.about-text h3{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding: 30px 0 13px 0;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#easy{
    padding: 50px 0;
    background:  url("../img/easy.png") no-repeat top/cover;
    height: 60vh;

}

.easy h1{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343D;
}

.easy p{
    width: 542px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
    margin: 0 auto;
    padding: 16px 0 36px 0;

}

.easy-block {
    display: flex;
    align-items: center;
    padding: 12px 0;

}

.easy-block-text{
    height: 53px;
    width: 274px;
    background: #FFFFFF;
    box-shadow: 0 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0 16px;


}

.easy-general{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.easy button{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    padding: 15px 25px;
}

#slider {
    padding: 70px;
}

.slider h1{
    font-weight: 700;
    font-size: 34px;
    color: #22343D;

}

.slider p{
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    padding: 8px 0 33px 0;
}

.slider-block h3{
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 24px 0 12px 24px;

}

.slider-block h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    width: 294px;
    padding-left: 24px;

}

.slider-block {
    height: 359px;
    width: 348px;
    border-radius: 8px;
    border: 1px solid #173A56;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: .4s;

}

.slider-block:hover > .slider-block-text {
    color: #02897A;


}


.slider-block img{
    border-radius: 8px 8px 0 0;

}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}


#price{
    padding: 40px 0;

}

.price h1 {
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    text-align: center;

}

.price h5{
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    text-align: center;
    padding: 8px 0 50px 0;

}

.price-block{
    width: 323px;
    height: 456px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s;

}

.price-block:hover{
    background: #02897A;
    color: #BCD0E5;
}


.price-block:hover > h3 {
    color: #FFFFFF;
}

.price-block:hover >h2{
    color: #FFFFFF;
}

.price-block:hover > .price-block-text h2 {
    color: #FFFFFF;
}
.price-block > p {
    color: #FFFFFF;
}

.price-block:hover > .price-block-text h4 {
    color: #FFFFFF;
}

.price-block:hover > .price-block-text span{
    color: #FFFFFF;
}

.price-block:hover > button{
    background: #FFFFFF;
    color: #02897A;;
}

.price-block h2 {
    font-weight: 700;
    font-size: 24px;
    color: #22343D;

}

.price-block p{
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 8px 0 16px 0;

}
.price-block-text {
    display: flex;
    align-items: center;
}

.price-block-text h2 {
    font-weight: 700;
    font-size: 76px;
    color: #02897A;
}

.price-block-text div {
    padding-left: 8px;
}


.price-block-text h4 {
    font-weight: 700;
    font-size: 24px;
    color: #02897A;
}

.price-block-text span {
    font-weight: 400;
    font-size: 16px;
    color: #AFAFAF;
}

.price-block h3 {
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    padding: 8px 0;
}

.price-block button {
    background: #02897A;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin: 10px 0;
}

.price-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#what {
    padding: 40px 0;
}

.what h1 {
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    text-align: center;
}

.what p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #22343D;
    padding: 8px 0 50px 0;
}

.what-block {
    width: 327px;
    height: 236px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.stars {
    display: flex;
    align-items: center;
    padding: 10px 20px 0 20px;
}

.stars div {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 19px;
    height: 19px;
    background: #F3CD03;
    margin: 0 2px;
    border: 2px solid #F3CD03;
}

.what-block p {
    width: 275px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #737373;
    padding: 20px;
    text-align: start;
}

.what-block-img {
    display: flex;
    align-items: center;
    padding: 0 20px 0 10px;
}

.what-block-img div {
    padding-left: 20px;
}

.what-block-img div h3 {
    font-weight: 600;
    font-size: 16px;
    color: #02897A;
}

.what-block-img div span {
    font-weight: 500;
    font-size: 14px;
    color: #252B42;
}

.what-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#join {
    padding: 60px 0;
}

.join {
    display: flex;
    justify-content: center;
}

.join-block {
    width: 968px;
    height: 345px;
    background: #02897A;
    border-radius: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.join-block-text h1 {
    width: 500px;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.join-block-text {
    padding-left: 20px;
}

.join-block-text button {
    font-weight: 600;
    font-size: 20px;
    color: #02897A;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px 20px;
}


#footer {
    padding: 40px 0;
}

.footer-general {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-logo-one {
    display: flex;
    align-items: center;
}

.footer-logo-one h1 {
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
    padding-left: 16px;
}

.footer-logo-one {
    padding-bottom: 30px;
}

.footer-logo-two a {
    color: #02897A;
    font-size: 25px;
    padding: 15px 8px;
    transition: .4s;
}

.footer-logo-two a:hover {
    color: #3d3db0;
    transform: scale(1.1);
}

.footer-nav h3 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
    padding-bottom: 8px;
}

.footer-nav h4 {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 5px 0;
}

.footer-input h1 {
    width: 280px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
}

.footer-input input {
    width: 325px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 0 10px;
    outline: none;
    margin: 34px 0 21px 0;
}

.footer-input button {
    background: #02897A;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: .4s;
    border: 2px solid #02897A;
}

.footer-input button:hover {
    background: transparent;
    color: #02897A;
    border: 2px solid #02897A;
}

.footer-footer {
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    text-align: center;
    padding: 50px 0 0 0;
}









